* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-hue: 150deg;
  --light-border: hsl(var(--main-hue) 50% 80%);
  --link: hsl(var(--main-hue) 80% 25%);
  --link-visited: hsl(var(--main-hue) 100% 15%);
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: hsl(var(--main-hue) 60% 90%);
  color: hsl(var(--main-hue) 60% 10%);
  font-size: 18px;
}

footer {
  border-top: 3px solid var(--light-border);
  padding: 5rem 1rem;
}

.footer-content {
  margin: 0 auto;
  max-width: 58rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul,
ol {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

a {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

header {
  border-bottom: 3px solid var(--light-border);
  padding: 1rem;
}

.header-content {
  margin: 0 auto;
  max-width: 60rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content>div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

main {
  max-width: 62rem;
  margin: 4rem auto;
  padding: 0 1rem;
}

.content {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  max-width: 65ch;
}

.content li+li {
  margin-top: 0.6rem;
}

#challenges {
  padding: 1rem;
}

#challenges ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

#challenges li {
  display: block;
  padding: 0.6rem;
}

#challenges li+li {
  border-top: 3px solid var(--light-border);
}

textarea {
  width: 100%;
  height: 8rem;
  font-family: monospace;
  border: 1px solid rgb(227, 227, 227);
}

textarea:focus-within {
  outline: none;
}

.cm-editor {
  border: 1px solid rgb(227, 227, 227);
  min-height: 8rem;
  background-color: white;
}

.cm-editor:focus-within,
textarea:focus-within {
  border: 1px solid #27534a;
}

.test-case {
  margin-bottom: 1rem;
  padding: 1rem;
}

.test-case pre {
  background-color: white;
  padding: 1rem;
}

.test-pass {
  background-color: #7dca8c;
}

.test-fail {
  background-color: #ff4444;
}

.test-warning {
  background-color: yellow;
}

.test-info {
  background-color: #ddd;
}

.diff {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (min-width: 1000px) {
  .two-column-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  #jump-challenges {
    display: none;
  }
}

.leaderboard table tr:not(:last-child)>td {
  border-bottom: 1px solid black;
}

.leaderboard table {
  width: 100%;
}

.leaderboard table th:first-child {
  width: 1rem;
}

.leaderboard table img {
  width: 18px;
}

.leaderboard table th:last-child {
  width: 4rem;
}

.leaderboard table td:nth-child(3) {
  text-align: right;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

.warning {
  background-color: #dddd44;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 0;
}

.hidden {
  display: none;
}

#editor-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
