<!DOCTYPE html>
<html lang="en">
  <head>

    {% block head %}
      <title>YQ</title>
      <meta name="description" value="Yet Another Golf Site" />
      <meta name="keywords" value="code-golf" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta charset="UTF-8" />
    {% endblock head %}

    {% block scripts %}
      {{ modules(modules="js/index.ts") | safe }}
    {% endblock scripts %}

    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="header">
      <div>
        <a href="/">Home</a>
      </div>
      <div>
        {% if account %}
          {{ account.username }}
          <img src="{{ account.avatar }}&size=18" alt="{{ account.username }} profile picture" />
        {% else %}
          <a href="/login/github">Login</a>
        {% endif %}
      </div>
    </div>

    <div class="content">
      {% block content %}
      {% endblock content %}
    </div>

    <footer>
      <a href="https://discord.gg/ugbfdgzpjK">Join The Discord</a>
    </footer>
  </body>
</html>
