<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>Byte Heist</title>
      <meta name="description" value="Yet Another Golf Site" />
      <meta name="keywords" value="code-golf" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta charset="UTF-8" />
      <link rel="icon" href="/static/favicon.svg" />
    {% endblock head %}
    {% block scripts %}
      {{ modules(modules="js/index.ts") | safe }}
    {% endblock scripts %}
    {% if dev %}
      <!-- temporary hacks to get webworkers to work during dev -->
      <script>
          (() => {
              const OriginalWebWorker = window.Worker;

              class Worker extends OriginalWebWorker {
                  constructor(original_url, type) {
                      function getWorkerURL(url) {
                          const content = `import a from ${ JSON.stringify(url) };`;
                          return URL.createObjectURL(new Blob([content], {
                              type: "text/javascript"
                          }));
                      }
                      const worker_url = getWorkerURL(original_url);
                      super(worker_url, type);
                      URL.revokeObjectURL(worker_url);
                  }
              }

              window.Worker = Worker;
          })();
      </script>
    {% endif %}
  </head>
  <body>
    <header>
      <div class="header-content">
        <div>
          <a href="/">
            <img src="/static/favicon.svg" width="30" alt="Byte Heist" />
          Home</a>
        </div>
        <div>
          {% if account %}
            <a href="/user/{{ account.id }}">
              {{ account.username }}
              <img src="{{ account.avatar }}&size=18"
                   width="18"
                   alt="{{ account.username }} profile picture" />
            </a>
          {% else %}
            <a href="/login/github">Join the Heist (with Github)</a>
          {% endif %}
        </div>
      </div>
    </header>
    <main>
      {% block content %}
      {% endblock content %}
    </main>
    <footer>
      <div class="footer-content">
        <p>Copyright © 2024 Byte Heist. All rights reserved.</p>
        <p>
          <a href="https://github.com/mousetail/Byte-Heist"
             alt="GitHub"
             title="GitHub"
             target="_blank"
             rel="noopener">
            <img src="/static/footer-icons/github.svg" alt="GitHub" title="GitHub" />
          </a>
          &nbsp;
          <a href="https://discord.gg/ugbfdgzpjK"
             alt="Discord"
             title="Discord"
             target="_blank"
             rel="noopener">
            <img src="/static/footer-icons/discord.svg" alt="Discord" title="Discord" />
          </a>
        </p>
      </div>
    </footer>
  </body>
</html>
