{% macro radio(name, value, label, selected) %}
    <input type="radio"
           id="{{ name }}-{{ value }}"
           name="{{ name }}"
           value="{{ value }}"
           {% if value==selected %}checked{% endif %}>
    <label for="{{ name }}-{{ value }}">{{ label }}</label>
{% endmacro radio %}
