{% macro test_cases(cases) %}

  {% if cases.tests.pass %}
    Pass
  {% else %}
    Fail
  {% endif %}

  {% if cases.stderr %}
    <h3>Judge Errors</h3>
    <pre>{{ cases.stderr }}</pre>
  {% endif %}

  {% for test in cases.tests.testCases %}
    <div class="test-case test-{{- test.pass | lower }}">
      {% if test.name %}<h2>{{ test.name }}</h2>{% endif %}

      {% if test.pass == "Pass" %}
        Pass
      {% elif test.pass == "Fail" %}
        Fail
      {% elif test.pass == "Warning" %}
        Warning
      {% elif test.pass == "Info" %}
        Info
      {% endif %}

      {% if test.resultDisplay.Empty %}

      {% elif test.resultDisplay.Text %}
        <div class="results">{{ test.resultDisplay.Text }}</div>
      {% elif test.resultDisplay.Diff %}
        <div class="diff">
          <div class="column">
            <h3>Output</h3>
            <pre>{{ test.resultDisplay.Diff.output }}</pre>
          </div>
          <div class="column">
            <h3>Expected</h3>
            <pre>{{ test.resultDisplay.Diff.expected }}</pre>
          </div>
        </div>
      {% elif test.resultDisplay.Run %}
        <div class="diff">
          <div class="column">
            <h3>Standard Output</h3>
            <pre>{{ test.resultDisplay.Run.output }}</pre>
          </div>
          <div class="column">
            <h3>Standard Error</h3>
            <pre>{{ test.resultDisplay.Run.error }}</pre>
          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}
{% endmacro test_cases %}
