{% import "base/test_cases.html.jinja" as test_cases %}
{% import "base/challenge_tabs.html.jinja" as challenge_tabs %}
{% extends "base/base.html.jinja" %}
{% block content %}
  {{ challenge_tabs::challenge_tabs(active="solve", id=object.challenge.id, name=object.challenge.name, author=object.challenge.author) }}
  <h1>{{ object.challenge.name }}</h1>
  <p>
    A challenge by
    <a href="/user/{{ object.challenge.author }}">
      <img src="{{ object.challenge.author_avatar }}&size=18"
           alt="{{ object.challenge.author_name }} avatar"
           height="18" />
      {{ object.challenge.author_name }}
    </a>
  </p>
  <div class="two-column-description">
    <div>
      <h3>Description</h3>
      {{ object.challenge.description | markdown }}
    </div>
    <div class="leaderboard">
      <h3>Leaderboard</h3>
      <table>
        <tr>
          <th></th>
          <th>Author</th>
          <th>Score</th>
        </tr>
        {% for solution in object.leaderboard %}
          <tr>
            <td>
              <img src="{{ solution.author_avatar }}&size=18"
                   alt="{{ solution.author_name }} avatar"
                   height="18" />
            </td>
            <td>
              <a href="/user/{{ solution.author_id }}">{{ solution.author_name }}</a>
            </td>
            <td>{{ solution.score }}</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="3">No solutions yet</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="lang-list">
    {% for lang, lang_data in languages() %}
      <a href="/{{ object.challenge.id }}/{{ lang }}"
         class="lang
                {% if object.language == lang %}active{% endif %}">
        <img width="32" src="/static/lang-icons/{{ lang_data.icon }}" alt="">
        {{ lang_data.displayName }}
      </a>
    {% endfor %}
  </div>
  <form method="post">
    {% if object.previous_solution_invalid %}
      <div class="warning">
        Your previous submitted solution has been made invalid due to updates in the challenge. Please fix your solution before it will
        be added back to the leaderboard.
      </div>
    {% endif %}
    <div class="hidden" id="editor-controls">
      <div>
        <span id="byte-counter"></span> Bytes
      </div>
      <div>
        <button type="button" id="restore-solution-button">Restore solution</button>
      </div>
    </div>
    <textarea name="code" class="codemirror" id="main-code">
        {%- if object.code -%}
          {{- object.code -}}
        {%- endif -%}
</textarea>
    {% if account %}
      <button>Submit!</button>
    {% else %}
      <div class="warning">You must be logged in to submit a solution.</div>
      <button type="submit" disabled>Submit!</button>
    {% endif %}
  </form>
  {{ test_cases::test_cases(cases=object.tests) }}
{% endblock content %}
