{% import "base/test_cases.html.jinja" as test_cases %}
{% extends "base/base.html.jinja" %}

{% block content %}
  <h1>{{ object.challenge.challenge.name }}</h1>
  <p>
    A challenge by
    <img src="{{ object.challenge.author_avatar }}&size=18" alt="{{ object.challenge.author_name }} avatar" />
    {{ object.challenge.author_name }}
    <a href="/challenge/{{ object.challenge.id }}">Edit</a>
  </p>
  <div class="two-column-descripion">
    <div>
      <h3>Descripion</h3>
      {{ object.challenge.challenge.description }}
    </div>
    <div class="leaderboard">
      <h3>Leaderboard</h3>

      <table>
        <tr>
          <th></th>
          <th>Author</th>
          <th>Score</th>
        </tr>
        {% for solution in object.leaderboard %}
          <tr>
            <td>
              <img src="{{ solution.author_avatar }}&size=18" alt="{{ solution.author_name }} avatar" />
            </td>
            <td>{{ solution.author_name }}</td>
            <td>{{ solution.score }}</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="3">No solutions yet</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="lang-list">
    {% for lang in languages() %}
      <a href="/{{ object.challenge.id }}/{{ lang.name }}" class="lang">{{ lang.name }}</a>
    {% endfor %}
  </div>

  <form method="post">
    <textarea name="code">
        {%- if object.code -%}
          {{- object.code -}}
        {%- endif -%}
</textarea>

    <button type="submit">Submit!</button>
  </form>

  {% if object.tests %}{{ test_cases::test_cases(cases=object.tests) }}{% endif %}
{% endblock content %}
