{% import "base/test_cases.html.jinja" as test_cases %}
{% extends "base/base.html.jinja" %}

{% block content %}
  <h1>{{ object.challenge.challenge.name }}</h1>

  <div class="leaderboard">
    <table>
      <tr>
        <th>Author</th>
        <th>Id</th>
        <th>Score</th>
      </tr>
      {% for solution in object.leaderboard %}
        <tr>
          <td>{{ solution.author_name }}</td>
          <td>{{ solution.id }}</td>
          <td>{{ solution.score }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <div>{{ object.challenge.challenge.description }}</div>

  <form method="post">
    <textarea name="code">
        {%- if object.code -%}
          {{- object.code -}}
        {%- endif -%}
</textarea>

    <button type="submit">Submit!</button>
  </form>

  {% if object.tests %}
    {{ test_cases::test_cases(cases=object.tests) }}
  {% endif %}
{% endblock content %}
