{% extends "base/base.html.jinja" %}

{% block content %}
  <h1>Byte Heist</h1>

  <p>
    Byte Heist is a site where you can test your coding skills by solving challenges in as few bytes as possible.
  </p>

  <p>
    The site will be similar to sites like code.golf, anarchy golf, and the late week.golf. Some unique features will include:
  </p>

  <ul>
    <li>
      Challenges will have a finite run time, probably around 6 months. After this time all solutions will be made public.
    </li>
    <li>
      A highly customizable judging system that will allow things like restricted source challenges, alternate scoring systems, self referential challenges etc. Though I also
      hope to have a good selection of basic code golf challenges too.
    </li>
    <li>
      Easily upload and colaberate on challenges via the interface. Built in ways to vote on challenges, give feedback, suggest test cases etc.
    </li>
    <li>
      There will be curated challenges that contribute to a global leaderboard, but you can also create private challenges to play with your friends,
      or to use for C.M.C.s etc.
    </li>
  </ul>

  <p>
    Right now there are already a few challenges you can try. Many things are incomplete. Expect the database to be wiped before 1.0.
  </p>

  <h2>Help or keep up with updates</h2>

  <p>
    Consider joining <a href="https://discord.gg/ugbfdgzpjK">the Discord</a> or watching the project <a href="https://github.com/mousetail/yq">on GitHub</a>.
    Pull requests very welcome.
  </p>

  <h1>Challenges</h1>
  <ul>
    {% for challenge in object.challenges %}
      <li>
        <a href="/{{ challenge.id }}/python">{{ challenge.challenge.name }}</a>
      </li>
    {% endfor %}
  </ul>

  {% if account %}
    <a href="/challenge">New Challenge</a>
  {% endif %}
{% endblock content %}
