{% extends "base/base.html.jinja" %}

{% block content %}
  <h1>Challenges</h1>
  <ul>
    {% for challenge in object.challenges %}
      <li>
        <a href="/{{ challenge.id }}/python">{{ challenge.challenge.name }}</a>
      </li>
    {% endfor %}
  </ul>

  <a href="/challenge">New Challenge</a>
{% endblock content %}
