<!DOCTYPE html>
<html>
<body>
    <h2>Hello!</h2>

    <table>
    <tr>
        <th>Id</th>
        <th>Language</th>
    </tr>
    {% for value in data %}
        <tr>
            <td>
                {{ value.id }}
            </td>
            <td>
                {{ value.solution.language}}
            </td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>