{% extends "base/base.html.jinja" %}
{% import "base/challenge_tabs.html.jinja" as challenge_tabs %}
{% import "base/test_cases.html.jinja" as test_cases %}
{% import "base/radio.html.jinja" as radio %}
{% import "base/validation.html.jinja" as validation %}
{% block content %}
  {% if object.id %}
    {{ challenge_tabs::challenge_tabs(active="edit", id=object.id, name=object.name, author=object.author) }}
  {% endif %}
  <form method="post">
    <div>
      <label for="challenge-name">Name:</label>
      <input type="text" id="challenge-name" name="name" value="{{ object.name }}" />
      {{ validation::validation(name="name") }}
    </div>
    <div>
      <label for="challenge-description">Description:</label>
      <textarea id="challenge-description" name="description">{{- object.description -}}</textarea>
      {{ validation::validation(name="description") }}
    </div>
    <div>
      <label for="challenge-judge">Judge:</label>
      <textarea id="challenge-judge" name="judge" class="codemirror lang-typescript">{{- object.judge -}}</textarea>
      {{ validation::validation(name="judge") }}
    </div>
    <div>
      <label for="example-code">Example Code:</label>
      <p>Please don't golf the example code</p>
      <textarea id="example-code" name="example_code" class="codemirror">{{- object.example_code -}}</textarea>
      {{ validation::validation(name="example-code") }}
    </div>
    <div>
      {{ validation::validation(name="category") }}
      {{ radio::radio(name="category", value="code-golf", selected=object.category, label="Code Golf") }}
      <p>Code golf challenges should:</p>
      <ol>
        <li>Not access the source code in any way</li>
        <li>Have a legitimate, non-cheating example code entered</li>
        <li>Present the test cases in the standard format</li>
        <li>
          Combine multiple test cases in a single run whenever possible. Best practice is to shuffle test cases and divide them into 1-3 runs.
        </li>
      </ol>
      {{ radio::radio(name="category", value="restricted-source", selected=object.category, label="Restricted Source") }}
      <p>Restricted challenges should:</p>
      <ol>
        <li>Have a legitimate, non-cheating example code entered</li>
        <li>Present the test cases in the standard format</li>
      </ol>
      {{ radio::radio(name="category", value="private", selected=object.category, label="Private") }}
      <p>
        Private challenges have no rules. You can share them in the Discord, but they won't be shown on the home page. Use this for puzzles and other non-challenges where you don't want to share example code.
      </p>
    </div>

    {{ validation::validation(name="status") }}
    {% if account %}
      {% if account.admin or object.status != "public" %}
        <button name="status" value="draft">
          {% if object.status!='draft' %}
            Return to draft
          {% else %}
            Save Draft
          {% endif %}
        </button>
        <button name="status" value="beta">
          {% if object.status == 'draft' %}
            Push to beta
          {% elif object.status == "beta" %}
            Save
          {% else %}
            Return to beta
          {% endif %}
        </button>
      {% endif %}
      {% if account.admin or object.status == "public" %}
        <button name="status" value="public">
          {% if object.status != 'public' %}
            Push Live
          {% else %}
            Save
          {% endif %}
        </button>
      {% endif %}
    {% else %}
      <div class="warning">You must be logged in to edit or create a challenge.</div>
      <button type="submit" disabled>Submit!</button>
    {% endif %}
    <div>
      {% if object.tests %}{{ test_cases::test_cases(cases=object.tests) }}{% endif %}
    </div>
  </form>
{% endblock content %}
