{% extends "base/base.html.jinja" %}
{% import "base/test_cases.html.jinja" as test_cases %}

{% block content %}
  <form method="post">
    <div>
      <label for="challenge-name">Name:</label>
      <input type="text" id="challenge-name" name="name" value="{{ object.name }}" />
    </div>

    <div>
      <label for="challenge-description">Description:</label>
      <textarea id="challenge-description" name="description">{{- object.description -}}</textarea>
    </div>

    <div>
      <label for="challenge-judge">Judge:</label>
      <textarea id="challenge-judge" name="judge" class="codemirror lang-typescript">{{- object.judge -}}</textarea>
    </div>

    <div>
      <label for="example-code">Example Code:</label>
      <p>Please don't golf the example code</p>
      <textarea id="example-code" name="example_code" class="codemirror">{{- object.example_code -}}</textarea>
    </div>

    {% if account %}
      <button type="submit">Submit!</button>
    {% else %}
      <div class="warning">You must be logged in to edit or create a challenge.</div>
      <button type="submit" disabled>Submit!</button>
    {% endif %}

    <div>
      {% if object.tests %}{{ test_cases::test_cases(cases=object.tests) }}{% endif %}
    </div>
  </form>
{% endblock content %}
