{% import "base/test_cases.html.jinja" as test_cases %}
{% extends "base/base.html.jinja" %}
{% block content %}
    <h1>{{ object.user_name }}</h1>
    <table>
        <tr>
            <th>Challenge</th>
            <th>Language</th>
            <th>Score</th>
        </tr>
        {% for solution in object.solutions %}
            <tr>
                <td>
                    <a href="/{{ solution.challenge_id }}/{{ solution.language }}">{{ solution.challenge_name }}</a>
                </td>
                <td>{{ solution.language }}</td>
                <td>{{ solution.score }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
