{% extends "base/base.html.jinja" %}
{% import "base/challenge_tabs.html.jinja" as challenge_tabs %}
{% import "base/test_cases.html.jinja" as test_cases %}

{% block content %}
  {% if object.id %}
    {{ challenge_tabs::challenge_tabs(active="view", id=object.id, name=object.challenge.name, author=object.author ) }}
  {% endif %}

  <h1>{{ object.challenge.name }}</h1>

  {{ object.challenge.description | markdown }}

  <h2>Judge</h2>

  <pre>{{- object.challenge.judge -}}</pre>

  <h2>Example Code</h2>

  <pre>
    {{-
      object.challenge.example_code
    -}}
  </pre>
{% endblock content %}
